<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.shop.mapper.VoucherMapper">


    <insert id="insert" parameterType="org.example.shop.model.entity.Voucher" useGeneratedKeys="true" keyProperty="id">
        insert into tb_voucher (shop_id, title, sub_title, type, discount, condition_amount, stock, issued_count, use_count, limit_per_user, status, start_time, end_time)
        values (#{shopId}, #{title}, #{subTitle}, #{type}, #{discount}, #{conditionAmount}, #{stock}, #{issuedCount}, #{useCount}, #{limitPerUser}, #{status}, #{startTime}, #{endTime})
    </insert>
    <update id="deductStock">
        update tb_voucher set stock = stock - #{count} where id = #{id} and stock >= #{count}
    </update>
    <select id="selectAll" resultType="org.example.shop.model.entity.Voucher">
        select * from tb_voucher;
    </select>
    <select id="selectById" resultType="org.example.shop.model.entity.Voucher" parameterType="java.lang.Long">
        select * from tb_voucher where id = #{id}
    </select>
</mapper>