<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mybatisdemo.mapper.ClazzMapper">

    <select id="getClazzById" resultType="org.example.mybatisdemo.model.entity.Clazz" parameterType="java.lang.Long">
        select id, name, status, create_time from clazz where id = #{id}
    </select>

    <resultMap id="clazzResultMap" type="org.example.mybatisdemo.model.entity.Clazz">
        <id property="id" column="cid"></id>
        <result property="name" column="cname"></result>
        <result property="status" column="cstatus"></result>
        <result property="createTime" column="ccreate_time"></result>
<!--        <collection property="students" ofType="org.example.mybatisdemo.model.entity.Student">-->
<!--            <id property="id" column="sid"></id>-->
<!--            <result property="name" column="sname"></result>-->
<!--            <result property="birthday" column="birthday"></result>-->
<!--            <result property="status" column="sstatus"></result>-->
<!--            <result property="createTime" column="screate_time"></result>-->
<!--        </collection>-->
        <collection property="students" select="org.example.mybatisdemo.mapper.StudentMapper.getStudentsByClassId" column="cid">

        </collection>
    </resultMap>
    <select id="getClazzAndStudentById" resultMap="clazzResultMap" parameterType="java.lang.Long">
--         select c.id cid, c.name cname, c.status cstatus, c.create_time ccreate_time, s.id sid, s.name sname, s.birthday, s.status sstatus, s.create_time screate_time
--         from clazz c
--                  join student s
--                       on c.id = s.clazz_id
--         where c.id = 1
        select c.id cid, c.name cname, c.status cstatus, c.create_time ccreate_time from clazz c where id = #{id}
    </select>
</mapper>